*{
    margin: 0;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-image: linear-gradient( 135deg, #FD6E6A 10%, #FFC600 100%);
}
.main__screen{
    /* background-color: white; */
    border: 3px solid black;
    height: 500px;
    width: 300px;
}