*{
    margin: 0;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( 135deg, #FD6E6A 10%, #FFC600 100%);
}
.main__screen{
    display: flex;
    flex-direction: column;
    background-color: #FFFFE0;
    border: 3px solid black;
    height: 85%;
    width: 70%;
}
.status__property{
    background-color: green;
    border-radius: 15%;
    width: 70px;
}
#character{
    align-self: center;
    position: relative;
    object-fit: fill;
    border-radius: 20%;
    top: 120px;
    width: 80%;
    height: 40%;
}
.messages{
    width: 100%;
    background-color: #FFE4B5;
    position: relative;
    top: 150px;
    height: 85px;
    overflow-y: scroll;
    border-top: 3px solid black;
}
.status{
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-bottom: 3px solid black;
}
.status__name{
    display: flex;
    justify-content: space-around;
    color: #0000FF;
}
.status__range{
    width: 85px;
}
.actions{
    margin-top: 8px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.action__bottom{
    width: 60px;
    height: 40px;
    border-radius: 100%;
    background-color: #8E44AD;
    transition: transform 1000ms;
}
.action__bottom:active{
    background-color: red;
}

.action__bottom:hover{
    transform: scale(1.5);
    transition: transform 1000ms;

}
.custom{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    flex-wrap: nowrap;
    top: 130px
}
.input{
    width: 65%;
}

@media (min-width: 700px){
    .status__property{
        width: 200px;
    }
    .status__name__description{
        font-size: x-large;
    }
    #character{
        top: 50px;
        width: 50%;
        height: 50%;
    }
    .messages{
        top: 88px;
    }
}